table,td{
    border: 1px solid black;
}

tr{
    height: 150px;
    width: 100%;
}
td{
    text-align: center;
}
*td{
    width: 100%;
}
table.center {
    margin-left: auto; 
    margin-right: auto;
}